version: 2.0.0-rc-{build}
image: Visual Studio 2017
nuget:
  project_feed: true
  disable_publish_on_pr: true
build_script:
- ps: >-
    cd C:\projects\kronos

    .\Scripts\Windows\build.ps1 -version $env:appveyor_build_number

    .\Scripts\Windows\pack.ps1 -version $env:appveyor_build_number
test_script:
- ps: >-

    # run tests

    .\Scripts\Windows\runTests.ps1 -fileName $coverageFile